<table align="center" border="1" >
	<caption>Employee List</caption>
	<tr>
		<th>Employee Id </th>
		<th>Employee Name </th>
		<th>Employee Salary </th>
		<th>Employee DeptNo </th>
		<th>Delete item</th>
	</tr>
	<tr *ngFor="let e of empList | salaryval ; index as i ">
		<td>{{e.empid }} </td>
		<td>{{e.ename }}</td>
		<td>{{e.salary }}</td>
		<td>{{e.deptno}}</td>
		<td><input type="button" value="Delete" (click)="deleteEmployeeRow(i)" [style.margin]="'5px'"></td>

	</tr>
	
</table>

