
<a routerLink="/employee">Employee</a><br>
<a routerLink="/book-list">book List</a><br>
<a routerLink="/train-list">Train Details</a>
<router-outlet></router-outlet>























<!--employee></employee-->

<!--employee-List2></employee-List2-->
<!--child-component message ="{{message}}"  (childEvent)="receiveMessage($event)"></child-component>
<h1>message from child is: {{ childMessage }}</h1-->


<!--table align="center" border="1" [ngStyle]="myStyles" >
	<caption>Employee List</caption>
	<tr>
		<th>Employee Id </th>
		<th>Employee Name </th>
		<th>Employee Salary </th>
		<th>Employee DeptNo </th>
		<th>Delete item</th>
	</tr>
	<tr *ngFor="let e of empList; index as i">
		<td>{{e.empid}} </td>
		<td>{{e.ename}}</td>
		<td>{{e.salary}}</td>
		<td>{{e.deptno}}</td>
		<td><input type="button" value="Delete" (click)="deleteEmployeeRow(i)" [style.margin]="'5px'"></td>

	</tr>
	
</table-->

<!--ol>
	<li *ngFor="let e of empList">{{e.empid+"  "+e.ename+"    "+e.salary+"   "+e.deptn}}</li>
</ol-->
























<!--table align="center" width="50%" border=1>
	<tr>
		<th>First Number</th>
		<td><input type="text" [(ngModel)]="num1" /></td>
	</tr>
	<tr>
		<th>Second Number</th>
		<td><input type="text" [(ngModel)]="num2" /></td>
	</tr>
	<tr>
		<th>Result</th>
		<td><input type="text" [(ngModel)]="num3" /></td>
	</tr>
	<tr>
		<button type="button" (click)="add()">Add </button>&nbsp;&nbsp;&nbsp;
		<button type="button"  (click)="sub()">Sub</button>&nbsp;&nbsp;&nbsp;
		<button type="button"  (click)="res()">Reset</button>&nbsp;&nbsp;&nbsp;
	</tr>
</table-->









