<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train Data</title>
</head>
<body>
    <table align="center" width="50%" border="1">
        <caption>Train Details</caption>
        <tr>
            <th>Train Id</th>
            <th>Train Name</th>
            <th>Source</th>
            <th>Destinatiom</th>
            <th>Compartments</th>
            <th>Fare</th>
        </tr>
        <tr *ngFor="let t of trainList">
            <td>{{t.trainId}}</td>
            <td>{{t.trainName}}</td>
            <td>{{t.source}}</td>
            <td>{{t.destination}}</td>
            <td>{{t.compartments}}</td>
            <td>{{t.fare}}</td>
            

        </tr>

    </table>

    
</body>
</html>